.main-container {
    width: 100wh;
    min-height: 100vh;
    border:1px solid rgba(0, 0, 0, 0.1);
    margin: 20px;
    
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border:1px solid rgba(0, 0, 0, 0.1);
}
.heading .searchbar input{
    border:1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 250px;
    position: relative;
}
.heading .searchbar svg {
    position: absolute;
    left: 29px;
    top: 35px;

}
.right-corner button{
    background: none;
    border: 1px solid ;
    margin-left: 10px;
    padding:10px;
    border-radius: 4px;
}
table tr{
    padding: 20px;
    border:1px solid rgba(0, 0, 0, 0.1);
    width: 100%;

    
}
thead tr td{
    padding: 20px;
}
tbody tr td{
    padding: 20px;
}
table{
    border:1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    border-collapse: collapse;

}
 tr td.flex {
    display:flex;
    justify-content: space-between;
}
.dots{
    border:none
}

/* Pagination Css */

.pagination {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pagination svg {
    margin: 0 10px;
}

.pagination li {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* navbar dropdown */
    color: #6D6D6D;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: 1px solid transparent;
}

.pagination li:hover {
    color: #286B68;
    border: 1px solid #286B68;
    border-radius: 50%;
}

.pagination-active {
    color: #286B68!important;
    border: 1px solid #286B68!important;
    border-radius: 50%!important;
}

.page-link {
    cursor: pointer;
}


/* Pagination Css Ends*/

  

