
.container{
width: auto;
  border: 15px solid green;
  margin: 5%;
  height:auto;
  background-color: aqua;
}
.header{
    /* border:1px solid; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .filter button{
    padding: 10px;
}

.header .filter input{
    padding: 10px;
}

.header .labels{
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .labels button{
    padding: 10px;
    margin: 3px;
}

.table{
  width: auto;
  border: 2px solid;
  margin: 10px;
  height:100vh;
  background-color: blueviolet;
}

.table .boxheader{
    border:2px solid;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}
.table .boxheader .header{
    display: flex;
    justify-content: space-evenly;
}


/* Pagination Css */

.pagination {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pagination svg {
    margin: 0 10px;
}

.pagination li {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* navbar dropdown */
    color: #6D6D6D;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: 1px solid transparent;
}

.pagination li:hover {
    color: #286B68;
    border: 1px solid #286B68;
    border-radius: 50%;
}

.pagination-active {
    color: #286B68!important;
    border: 1px solid #286B68!important;
    border-radius: 50%!important;
}

.page-link {
    cursor: pointer;
}


/* Pagination Css Ends*/
    
